<h1 class="display-4 text-primary">People#index</h1>
<p><%= @msg %></p>
<p><a href="/peopel/add">※新規ユーザー作成</a></p>
<table class="table">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>U/D</th>
  </tr>
  <% @data.each do |obj| %>
    <tr>
      <td><%= obj.id %></td>
      <td><a href="/people/<%= obj.id %>">
          <%= obj.name %></a></td>
      <td><a href="/people/edit/<%= obj.id %>">
          Edit</a>&nbsp;&nbsp;
        <a href="javascript:delData(<%= obj.id %>,'<%= obj.name %>');">
          Delete</a></td>
    </tr>
  <% end %>
</table>
<script>
  function delData(num,name){
    if(confirm('ID: ' + num + '\n' +name + '\nこのデータを削除しますか？')){
      document.location = "/people/delete/" + num;
    }
    return false;
  }
</script>